<a href="https://colab.research.google.com/github/gadichandu3-prog/mini_projects/blob/main/MINI_PROJECT2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd


data = {
    'NAME': ['Kishore', 'Murali', 'Kumar', 'Swamy', 'Ayyappa', 'Nitish', 'Vivek', 'Joshi', 'Hari', 'Raja'],
    'CLASS': ['AIR', 'AIR', 'AIR', 'AIR', 'AIR', 'AIR', 'AIR', 'AIR', 'AIR', 'AIR'],
    'SECTION': ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A'],
    'ROLLNO': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'EMAIL': [
        'kishore.v@gmail.com', 'murali.k@gmail.com', 'kumar.p@gmail.com',
        'swamy.t@gmail.com', 'ayyappa.s@gmail.com', 'nitish.r@gmail.com',
        'vivek.m@gmail.com', 'joshi.n@gmail.com', 'hari.b@gmail.com', 'raja.g@gmail.com'
    ],
    'PHNO': [9848012345, 9848012346, 9848012347, 9848012348, 9848012349, 9123456780, 9123456781, 9123456782, 9123456783, 9123456784],
    'MARKS': [88, 92, 75, 84, 91, 79, 85, 90, 82, 87]
}

# DataFrame create cheyadam
df = pd.DataFrame(data)

# Full data ni display cheyadam
print("--- My New Project Data ---")
df

--- My New Project Data ---

      NAME CLASS SECTION  ROLLNO                EMAIL        PHNO  MARKS
0  Kishore   AIR       A     101  kishore.v@gmail.com  9848012345     88
1   Murali   AIR       A     102   murali.k@gmail.com  9848012346     92
2    Kumar   AIR       A     103    kumar.p@gmail.com  9848012347     75
3    Swamy   AIR       A     104    swamy.t@gmail.com  9848012348     84
4  Ayyappa   AIR       A     105  ayyappa.s@gmail.com  9848012349     91
5   Nitish   AIR       A     106   nitish.r@gmail.com  9123456780     79
6    Vivek   AIR       A     107    vivek.m@gmail.com  9123456781     85
7    Joshi   AIR       A     108    joshi.n@gmail.com  9123456782     90
8     Hari   AIR       A     109     hari.b@gmail.com  9123456783     82
9     Raja   AIR       A     110     raja.g@gmail.com  9123456784     87

In [2]:
df.max()

NAME                   Vivek
CLASS                    AIR
SECTION                    A
ROLLNO                   110
EMAIL      vivek.m@gmail.com
PHNO              9848012349
MARKS                     92
dtype: object

In [3]:
df.min()

NAME                   Ayyappa
CLASS                      AIR
SECTION                      A
ROLLNO                     101
EMAIL      ayyappa.s@gmail.com
PHNO                9123456780
MARKS                       75
dtype: object

In [5]:
df["MARKS"].mean()

np.float64(85.3)

In [6]:
df["MARKS"].mode()

0    75
1    79
2    82
3    84
4    85
5    87
6    88
7    90
8    91
9    92
Name: MARKS, dtype: int64

In [7]:
df["MARKS"].median()

86.0

In [8]:
df["MARKS"].var()

29.788888888888884

In [9]:
df["MARKS"].std()

5.457919831665621

In [10]:
df["MARKS"].cov(df["ROLLNO"])

np.float64(-0.7222222222222222)